<h1>Il ne vous reste plus qu'à valider votre adresse mail !</h1>

<p>
    Valider votre adresse mail en cliquant sur le lien ci-dessous :
    <br />
    <br />
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse mail !</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heures.
</p>

<p>
    Santé !
</p>
