// Container
// ==============
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

%container-full,
.container-full {
  box-sizing: border-box;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

%container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.container-narrow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-width: 1330px;
  }
}