<nav class="top_bar">
    <div class="top_bar__brand">
        Team-Founder
    </div>

    <div class="top_bar__links">
        <ul>
            <li><a href="#">Qui sommes-nous ?</a></li>
            <li><a href="#">Notre équipe</a></li>
            <li><a href="#">Recrutement</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="top_bar__cta">
        <ul>
            <li>
                <a href="{{ path('app_login') }}">
                    Connexion
                </a>
            </li>
            <li>
                <a href="{{ path('app_register') }}">
                    Inscription
                </a>
            </li>
        </ul>
    </div>
</nav>